<a href="https://colab.research.google.com/github/2303a51546/ADM2025/blob/main/ADM_week_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [ ]:
data = {'Category': ['x', 'y', 'z', 'A', 'B','k','M','l']}
df = pd.DataFrame(data)

In [ ]:
label_encoder = LabelEncoder()
df['Label_Encoded'] = label_encoder.fit_transform(df['Category'])

In [ ]:
one_hot_encoded = pd.get_dummies(df['Category'], prefix='Category')
df = pd.concat([df, one_hot_encoded], axis=1)

In [ ]:
print(df)

  Category  Label_Encoded  Category_A  Category_B  Category_M  Category_k  \
0        x              5       False       False       False       False
1        y              6       False       False       False       False
2        z              7       False       False       False       False
3        A              0        True       False       False       False
4        B              1       False        True       False       False
5        k              3       False       False       False        True
6        M              2       False       False        True       False
7        l              4       False       False       False       False

   Category_l  Category_x  Category_y  Category_z
0       False        True       False       False
1       False       False        True       False
2       False       False       False        True
3       False       False       False       False
4       False       False       False       False
5       False       False       False       False
6       False       False       False       False
7        True       False       False       False

In [ ]:
from datetime import datetime

In [ ]:
data = {'Name': ['Alice', 'Bob'], 'Date_of_Birth': ['1990-05-14', '1985-08-23']}
df = pd.DataFrame(data)

In [ ]:
df['Date_of_Birth'] = pd.to_datetime(df['Date_of_Birth'])

In [ ]:
current_year = datetime.now().year
df['Age'] = current_year - df['Date_of_Birth'].dt.year
print(df)

    Name Date_of_Birth  Age
0  Alice    1990-05-14   35
1    Bob    1985-08-23   40

In [ ]:
data = {'Category': ['A', 'A', 'B', 'B', 'C'],
'Value': [10, 20, 10, 30, 40]}
df = pd.DataFrame(data)

In [ ]:
grouped = df.groupby('Category').agg({'Value': ['sum', 'mean']})
print("Grouped Data:\n", grouped)

Grouped Data:
          Value
           sum  mean
Category
A           30  15.0
B           40  20.0
C           40  40.0

In [ ]:
pivot = df.pivot_table(index='Category', values='Value', aggfunc=['sum',
'mean'])
print("\nPivot Table:\n", pivot)

Pivot Table:
            sum  mean
         Value Value
Category
A           30  15.0
B           40  20.0
C           40  40.0